@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Box to contain form controls */
.control-group {
    display: inline-block;
    vertical-align: top;
    background: #ffffff; /* $color--white */
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 450px;
    height: auto;
    /*margin-left: 50px;*/
    /*margin: 10px;*/
    margin-bottom: 5px;
}

.control-group h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Basic control styles */
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

/* Hide default browser input */
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Custom control */
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #f0f0f0; /* $color--light-grey */
}

/* Makes radio buttons circular */
.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #cccccc; /* $color--grey */
}

/* Checked */
.control input:checked ~ .control__indicator {
    background: #ed9827; /* $color--primary */
}

/* Hover when checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #ca610a; /* $color--secondary */
}

/* Disabled */
.control input:disabled ~ .control__indicator {
    background: #f0f0f0; /* $color--light-grey */
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff; /* $color--white */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #666666; /* $color--dark-grey */
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff; /* $color--white */
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #666666; /* $color--dark-grey */
}

/* Select styles */
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0; /* $color--light-grey */
    color: #666666; /* $color--dark-grey */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000; /* $color--black */
    background: #cccccc; /* $color--grey */
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #666666 transparent transparent transparent; /* $color--dark-grey */
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000000; /* $color--black */
}

.select select:disabled ~ .select__arrow {
    border-top-color: #cccccc; /* $color--grey */
}

.Fundo-level{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container { !important;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 1100px;
    /*width: auto;*/
    /*max-width: 100%;*/
    height: 1350px;
    /*min-height: 480px;*/
}

.form-container {
    position: absolute;
    top: 90px;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay {
    /*background-image: url("../images/fundo_usuarios_cadastrados.jpg");*/
    /*background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);*/
    /*background: linear-gradient(to right, #FF4B2B, #FF416C);*/
    /*background: transparent;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 60px;
    width: 60px;
}

.social i{
    color: #0c0c0c;
    font-size: 30px;
}

.customCheckBoxHolder {
    margin: 5px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.customCheckBox {
    /*width: fit-content;*/
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgb(12, 12, 12);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 40px;
    width: 120px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    /*min-width: 65px;*/
}

.customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
}

.customCheckBox:hover .inner {
    transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customCheckBoxInput {
    display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
    background-color: #f45907;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
    background-color: #f45907;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {

    .Fundo-level{
        width: 100%;
        height: 100%;
    }

    .customCheckBoxHolder {
        display: flex;
        flex-direction: column;
    }

    .container{
        height: 1000px;
    }

    .control-group{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 850px) {

    .Fundo-level{
        width: 100%;
        height: 100%;
    }

    .customCheckBoxHolder {
        display: flex;
        flex-direction: column;
    }

    .container{
        height: 1000px;
    }

    .control-group{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1100px) {

    .Fundo-level{
        width: 100%;
        height: 100%;
    }

    .customCheckBoxHolder {
        display: flex;
        flex-direction: column;
    }

    .container{
        height: 1000px;
    }

    .control-group{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 650px) {

    .Fundo-level{
        width: 100%;
        height: 100%;
    }

    .customCheckBoxHolder {
        display: flex;
        flex-direction: column;
    }

    .container{
        height: 1000px;
    }

    .control-group{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 500px) {

    .Fundo-level{
        width: 100%;
        height: 100%;
    }

    .customCheckBoxHolder {
        display: flex;
        flex-direction: column;
    }

    .container{
        height: 1000px;
    }

    .control-group{
        width: auto;
        height: auto;
    }
}